$user-pic: 2.5rem;
$color-time: lightgrey;
$color-comment-line: $color-time;
$comment-gap: 2rem;

.comment {
  &-item {
    display: block;
    position: relative;
    word-break: break-word;
    word-wrap: break-word;

    margin-bottom: $comment-gap;
    &:last-child {
      margin-bottom: 0;
      &::before {
        content: none;
      }
    }

    // line under the pic comment
    &::before {
      content: '';
      display: block;
      width: 1px;
      background-color: lightgrey;
      position: absolute;
      top: $comment-gap;
      bottom: -$comment-gap;
      left: $user-pic / 2;
      z-index: -1;
      background-color: $color-comment-line;
    }
  }

  &-email-link, &-pic {
    width: $user-pic;
    height: $user-pic;
    margin-right: .5rem;
    overflow: hidden;
    float: left;
    border-radius: 50%;
    background-color: $color-comment-line;
    border: .5px solid lightgrey;
  }

  &-email-link {
    div {
      border: none;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &-pic {
    background: {
      size: cover;
      position: center;
      image: url('images/userpic.png');
      color: $color-comment-line;
    };
  }

  &-header {
    margin-bottom: .5rem;
    display: block;

    &::before, &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &-main, &-footer, &-children {
    margin-left: $user-pic + .5rem;
  }

  &-footer {
    margin-bottom: 1rem;

    &::before, &::after {
      content: '';
      display: block;
      clear: both;
    }

    form {
      margin-top: 1rem;
    }
  }

  &-name, &-time {
    display: block;
    line-height: 1.2;
  }

  &-name {
    padding-top: .5rem;
    font-weight: bold;
  }

  &-time {
    margin: 0;
    font-size: .8em;
    color: $color-time;
  }

  &-text {
    margin: 0;
    overflow: hidden;
    transition: 1s ease;

    &-more {
      display: block;
      margin-top: .5rem;
      padding: .5rem;
      background-color: rgba(0,0,0,.2);
      text-align: center;
      transition: 1 ease;

      &:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,.4);
      }
    }
  }

  &-link--delete {
    display: inline-block;
    margin-top: 1rem;
    float: left;
    font-size: .8em;
    color: lightgrey;

    &:hover {
      text-decoration: none;
    }
  }

  &-link--reply {
    display: inline-block;
    margin-top: 1rem;
    float: right;
    font-size: .8em;
    color: lightgrey;

    &:hover {
      text-decoration: none;
    }
  }
}
