.comment {
  & * {
    box-sizing: border-box;
  }

  &-list {
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    width: 100%;
    list-style: none;
  }

  &-list--empty {
    font-size: 2rem;
    text-align: center;
    margin: 2rem auto;
  }
}
