// from http://projects.lukehaas.me/css-loaders/

$color-spinner: #fff;
$color-background: rgba(0, 0, 0, 0.25);

.loader {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  overflow: hidden;
  font-size: 6px;
  color: $color-spinner;
  background-color: $color-background;
  text-align: center;
}

.spinner,
.spinner::before,
.spinner::after {
  width: 1em;
  height: 4em;
  background: $color-spinner;
  animation: load 1s infinite ease-in-out;
}

.spinner {
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  color: currentColor;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;

  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
  }

  &::before {
    left: -1.5em;
    animation-delay: -0.32s;
  }

  &::after {
    left: 1.5em;
  }
}

@keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
