$color-button: lightgray;
$color-button-active: color($color-button blackness(30%));
$color-counter: $color-button;

.form {
  &-container {
    width: 100%;
    box-sizing: border-box;

    &::before, &::after {
      content: '';
      display: block;
      clear: both;
    }

    & * {
      box-sizing: border-box;
    }
  }

  &-counter {
    float: left;
    font-size: .75em;
    color: $color-counter;
  }

  &-button {
    float: right;
    padding: .5rem;
    min-width: 6rem;
    background-color: $color-button;

    &:hover:not([disabled]) {
      cursor: pointer;
      background-color: $color-button-active;
    }
  }
}

.form-button,
.textarea-comment {
  border: .5px solid black;
}

.textarea {
  &-container {
    width: 100%;
    position: relative;
    margin-bottom: .5rem;
  }

  &-header {
    margin-bottom: .5rem;
    font-size: 1.2em;
    font-weight: bold;
  }

  &-comment {
    width: 100%;
    padding: .5rem;
    display: block;
    resize: none;
    overflow: hidden;
    border: 0;
    font-size: 1rem;
    line-height: 1;
  }
}
